*.aux
*.log
*.lol
*.lot
*.lof
*.toc
*.out
*.fls
*.fdb_latexmk
*.blg
*.synctex.gz
*.ipynb_checkpoints
*.bbl

# the main compiled pdf
rawlik-phd-thesis.pdf

gfx/mapping/PSI_mapping_photos/not_used/*
Archive/*
